<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />

  	<title> QR marks the spot</title>	

</head>

<body>
    <div id="banner">
		<h1> QR marks the spot </h1>
	</div> 

    <div id="nav-menu">
		<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Play</a></li>
		<li><a href="#">Games</a></li>
		<li><a href="#">Contact</a></li>
		</ul>
	</div> 
	
	<div id="mainPicture">
    	<div class="picture">
        </div>
    </div>
    
	<div id="logoWrapper">
    	<div class="picture">
        </div>
    </div>
    
    <div id="PoweredBy">Powered By</div>
    
	<div id="wrapper">
		<div id="upperribbon"></div>
	</div>
	
	<div id="ribbon">
    	<div id="ribbonText">Login to your account</div>
    </div>
    
    <div class="loginwrapper">
    	<form action="/login/" method="post">
			<span class="usertext" style="font: 16px copperplate;" >Username:</span><br>
			<input class="textbox" name="username" type="text" size="25"><br>
			<span class="usertext" style="font: 16px copperplate;">Password:</span><br>
			<input class="textbox" name="password" type="password" size="25">
			<input type="submit" value="login" />
		</form>
	</div>
    
	

</body>
</html>
