{% extends "base.html" %}
	    
	    
	{% block sideNavBar %}
		{% if user.is_authenticated %}
   			<div class = "login">
   				Welcome, {{ user }}.
   				<form action="/" method="post">
   					<input class="submit" type="submit" value="Logout">
   				</form>
   			</div>
		{% else %}
			
			<div class = "login">
			 <div class = "text"> Login </div>
			   <div class="loginwrapper">
			   <form action="/" method="post">
					<span class="usertext" style="font: 16px ;" >Username:</span><br>
					<input class="textbox" name="username" type="text" size="25"><br>
					<span class="usertext" style="font: 16px ;">Password:</span><br>
					<input class="textbox" name="password" type="password" size="25">
					<input class="submit" type ="submit" value="Login">
				</form>
				</div>
			
			<div class = "createUser">Don't have a login? Create a new user <a href="/registration">here</a>!</div>

			</div>	 		

		{% endif %}
	

	{% endblock %}
	
	{% block content %}
		<div class="picture"></div>
    	<div class="innerBox">
      	</div>
    {% endblock %}
     
    {% block footer %}
	
	{% endblock %}

