<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	-->
  	<title>QR marks the spot</title>	

  	{{ gmap_js|safe }}
  	
   <script type="text/javascript">
  	//<![CDATA[
  	function get_locations(){
      document.create_game.locations.value = JSON.stringify(this.gmap.getPoints());
      return true;
   };
  	//]]>
  	</script>
</head>

<body onload="load_gmap()" onunload="GUnload()">
    <div id="banner">
		<h1> QR marks the spot </h1>
	</div> 

   <div id="mainArea">
      <p>Select game center:</p>
      <div id="gmap" style="width: 500px; height: 400px;">
      </div>
      <form action="/game/create/" method="post" name="create_game" onSubmit="get_locations()">
         {{ form.as_p }}
         <input type="hidden" name="locations" value="" />
         <input type="submit" value="Submit" />
      </form>
   </div>

</body>
</html>
