{% extends "base.html" %}
{% load game_extras %}

{% block content %}
   {% if game %}
      <p>Game #{{ game.id }}</p>
      <p>Type: {{ game.game_type }}</p>
      <p>Location: {{ game.city }}</p>
      <p>Created by: {{ game.created_by }}</p>
      <p>Created: {{ game.created }}</p>
      
      {% include_cat "games/details_" game.game_type ".html" %}
      
      {% if can_join_game %}
         <form action="" method="post">
            <input type="hidden" name="mode" value="join" />
            <input type="submit" value="Join this game!" />
         </form>
      {% endif %}
      
      {% ifequal game.created_by request.user %}
         <a href="/game/{{ game.id }}/edit/">Edit this game</a>
      {% endifequal %}
   {% endif %}
{% endblock content %}