{% extends "base.html" %}

{% block styleSheet %}
<link rel="stylesheet" type="text/css" href="/static/css/game_list.css" />
{% endblock %}

{% block content %}
   {% if game_list %}
   <div class="gameList">
      <table border="0">
      <tr>
      <th>Name</th>
      <th>Created</th>
      <th>City</th>
      <th>Creator</th>
      </tr>
      {% for game in game_list %}
         <tr {% if forloop.counter|divisibleby:2 %}class="even"{% else %}class="odd"{% endif %}>
         {% if game.is_public %}
         	{% ifequal game.name "" %}
         	<td><a href="/game/{{game.id}}/">Unnamed</a></td>
         	{% else %}
         	<td><a href="/game/{{game.id}}/">{{game.name}}</a></td>
         	{% endifequal %}
            <td>{{game.created}}</td>
            {% ifequal game.city "" %}
            <td>No Location</td>
            {% else %}
            <td>{{game.city}}</td></a>
            {% endifequal %}
            {% ifequal user game.created_by %}
                <td><a href="/game/{{game.id}}/edit/">Edit game</a></td>
            {% else %}
            	<td><a href="/user/{{game.created_by}}/profile">{{game.created_by}}</a></td>
            {% endifequal %}
         {% endif %}
         </tr>
      {% endfor %}
      </table>
   </div>
   {% else %}
      <p>No games created yet</p>
   {% endif %}
   
   <p><a href="/game/create/">Create a new game!</a></p>
{% endblock content %}