{% extends "base.html" %}

{% block content %}
   {% if game_list %}
      <ul>
      {% for game in game_list %}
         <li>
            <p>
            <a href="/game/{{game.id}}/">{{game.created}} -- {{game.city}}</a>
            {% ifequal user game.created_by %}
                -- <a href="/game/{{game.id}}/edit/">Edit game</a>
            {% endifequal %}
            </p>
         </li>
      {% endfor %}
      </ul>
   {% else %}
      <p>No games created yet</p>
   {% endif %}
   
   <p><a href="/game/create/">Create a new game!</a></p>
{% endblock content %}