{% extends "base.html" %}
	    
	    
	{% block sideNavBar %}
		{% if request.user.is_authenticated %}
   		
		{% else %}
		<div class = "login">
		 <div class = "text"> Login </div>
		   <div class="loginwrapper">
		   <form action="blah" method="get">
				<span class="usertext" style="font: 16px ;" >Username:</span><br>
				<input class="textbox" type="text" size="25"><br>
				<span class="usertext" style="font: 16px ;">Password:</span><br>
				<input class="textbox" type="password" size="25">
			</div>
		<div class = "button"> <button type="submit" onclick = >Login</button></div>	
		</form>
		<div class = "createUser" >Don't have a login? Create a new user <a href="/registration">here</a>!</div>
		</div>	 		

		{% endif %}
	

	{% endblock %}
	
	{% block content %}
		<div class="picture"></div>
    	<div class="innerBox">
      	</div>
    {% endblock %}
     
    {% block footer %}
	
	{% endblock %}

