{% extends "home/index.html" %}

{% block styleSheet %}
<link rel="stylesheet" type="text/css" href="/static/css/404style.css" />
{% endblock %}

{% block content %}

	<div class = "page404">
		<h1>Oops!  We couldn't find :</h1>

		<h2>
		"<script type="text/javascript">
			document.write(window.location.pathname);</script>
		"</h2>

		<p>... perhaps you were looking for something under one of these headings?:</p>
		<ul>
		<li><a href="/">About</a></li>
		<li><a href="/">Contact</a></li>
		<li><a href="/">Play</a></li>
		<li><a href="/">Home</a></li>
		</ul>
	</div>


{% endblock %}



