<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	{% block styleSheet %}
	{% endblock %}

  	<title> QR marks the spot</title>	

</head>

<body>
	
	<div id="topNavBar">
		{% block topNavBar %}
        <div class="topNaviagationLink"><a href= "/">Home</a></div>
        <div class="topNaviagationLink"><a href="/">About</a></div>
        <div class="topNaviagationLink"><a href="/game">Play</a></div>
	    <div class="topNaviagationLink"><a href="/">Contact</a></div>
	    {% endblock %}
	</div>
	
	
	<div id="sideNavBar">
		<div class = "box"></div>
		<div class = "stats">
		Games in Progress:<br>
		Users Online:<br>
		</div>
		
		{% block sideNavBar %}

		{% endblock %}
	</div>
	
    
	<div id="contentBox">
		{% block content %}

      	{% endblock %}
	</div>    
  
	<div id="footer">
	{% block footer %}
	
	{% endblock %}
	</div>

	<div id="mask"></div>
    
	

</body>
</html>
