{% extends "home/index.html" %}

{% block styleSheet %}
<link rel="stylesheet" type="text/css" href="/static/css/CUstyle.css" />
{% endblock %}

{% block content %}

<div class = "userForm">

	<p>Please complete the form below and press submit to create your account!</p>

	<form name="input" action="" method="get">
		First name: 	<input type="text" name="FirstName"  /><br /><br />
		Last name: 		<input type="text" name="LastName"  /><br /><br />
		Email: 			<input type="text" name="Email"  /><br /><br />
		Username: 		<input type="text" name="UserName"  /><br /><br />
		Password: 		<input type="password" name="Password"  /><br /><br />
		Confirm Password: <input type="password" name="Password"  /><br />
		<input type="submit" value="Submit" />
	</form> 


</div>
	

{% endblock %}

