{% extends "home/index.html" %}

{% block styleSheet %}
<link rel="stylesheet" type="text/css" href="/static/css/CUstyle.css" />
{% endblock %}

{% block content %}

{% if Success %}
	<p> Thanks, for registering, {{ UserName }}! Click here to continue back to the page you were on.</p>
	
{% else %}
	<div id = "userForm">
		<form name="registration_input" action="/registration/" method="post">
		<fieldset>
			<legend>QR Marks the Spot User Registration Form</legend>
			<p><label for="FirstName">First name: <input type="text" name="FirstName" value="{{ FirstName }}" /></p>
			<p><label for="LaststName">Last name: <input type="text" name="LastName"  value="{{ LastName }}"/></p>
			<p><label for="Email">Email: <input type="text" name="Email" value="{{ Email }}" /></p>
			<p><label for="UserName">Username: <input type="text" name="UserName" value="{{ UserName }}" /></p>
			<p><label for="Password">Password: <input type="password" name="Password"  /></p>
			<p class="submit"><input type="submit" value="Submit" /></p>
			</fieldset>
		</form> 
	</div>
{% endif %}

{% endblock %}

