{% extends "home/index.html" %}

{% block styleSheet %}
<link rel="stylesheet" type="text/css" href="/static/css/CUstyle.css" />
{% endblock %}

{% block content %}

{% if Success %}
	<p> Thanks, for registering, {{ UserName }}! Click here to continue back to the page you were on.</p>
	
{% else %}
	<div id = "userForm">
		<form name="registration_input" action="/registration/" method="post">
			First name: <input type="text" name="FirstName" value="{{ FirstName }}" /><br />
			Last name: <input type="text" name="LastName"  value="{{ LastName }}"/><br />
			Email: <input type="text" name="Email" value="{{ Email }}" /><br />
			Username: <input type="text" name="UserName" value="{{ UserName }}" /><br />
			Password: <input type="password" name="Password"  /><br />
			<input type="submit" value="Submit" />
		</form> 
	</div>
{% endif %}

{% endblock %}

