
	body {
		background: #000000;
	}
	
	#topNavBar
	{
		top: 20px;
		left: 20px;
  		display: block; 
  		height: 65px;
  		position: fixed; 
  		overflow: hidden; 
 		width: 1000px;
 		background-image: url(/static/media/topNavBar1.jpg);
 		z-index: 2;
	}

	.topNaviagationLink
	{
		z-index: 2;
	 	background: #FFFFFF;
	 	opacity: 0.6;
	 	margin: 30px;
		text-align:center;
		position:relative;
		margin-top:15px;
		font-size:16px;
		margin-left:-10px;
		width:121px;
		height: 35px;
		line-height: 35px;
		float:left;
		color:#CEEAEE;
		font: bold 30px Impact, serif;
	}


	.topNaviagationLink a
	{
		text-decoration:none;
		color:#000000;
	}

	.topNaviagationLink a:hover
	{
		text-align:center;
		border-bottom:none;
		color:#0C61C9;
		display: block;
		width:121px;
		height: 35px;
		line-height: 35px;
		background-image:url(tab.png);

	}

	#sideNavBar
	{
  		display: block; 
  		left: 770px;
  		top: 100px;
  		position: fixed; 
  		overflow: hidden; 
 		width: 250px;
 		height: 370px;
		background-image: url(/static/media/topNavBar1.jpg);
		background-repeat:repeat;
	}

	#sideNavBar .box
	{
  		display: block; 
  		left: 10px;
  		top: 10px;
  		position: relative; 
  		overflow: hidden; 
 		width: 230px;
 		height: 350px;
	 	background: #FFFFFF;
	 	opacity: 0.6;
	 	
	}
	
	#sideNavBar	.login
	{
		z-index: 3;
	 	position: relative;
	 	width: 210px;
	 	height: 150px;
	 	top: -330px;
	 	left: 20px;
	 	background: #FFFFFF;
	}
	
	.text
	{
		z-index: 1;
		position:	relative;
		top: 10px;
		left: 10px;
		font: bold 26px Impact, serif;
	}
	
	.loginwrapper
	{
		top: 20px;
		position: relative;
		left: 10px;
		background-color:#FFFFFF;
		width: 200px;
		
	}
	
	#contentBox
	{
		z-index: 1;
  		display: block; 
  		top: 100px;
  		left: 20px;
  		position: absolute; 
  		overflow: hidden; 
 		width: 720px;
 		height: 1200px;
 		background: #FFFFFF;
	}
	
	#contentBox .picture
	{
		position:relative;
		width:460px;
		height:310px;
		top:10px;
		left:10px;
		background-image: url(/static/media/FP.jpg);
		background-repeat:no-repeat;
		margin-left:10px;
	}
	

	#footer
	{
  		display: block; 
  		top:1300px;
  		left: 10px;
  		position: relative; 
  		overflow: hidden; 
 		width: 1000px;
 		height: 30px;
		background-image: url(/static/media/topNavBar1.jpg);
	}
	
	#mask
	{
		z-index: 1;
  		display: block; 
  		position: fixed; 
  		overflow: hidden; 
  		top: -10px;
  		left: -10px;
 		width: 780px;
 		height: 30px;
		background: #000000;
	}

	