{% extends "base.html" %}

{% block head_js %}
  	{{ gmap_js|safe }}
  	
   <script type="text/javascript">
  	//<![CDATA[
  	function get_locations(){
      document.create_game.locations.value = JSON.stringify(this.gmap.getPoints());
      return true;
   };
  	//]]>
  	</script>
{% endblock %}

{% block body_tag %}
   <body onload="load_gmap()" onunload="GUnload()">
{% endblock %}

{% block content %}
   <div id="mainArea">
      <p>Select game center:</p>
      <div id="gmap" style="width: 500px; height: 400px;">
      </div>
      <form action="/game/create/" method="post" name="create_game" onSubmit="get_locations()">
         {{ form.as_p }}
         <input type="hidden" name="locations" value="" />
         <input type="submit" value="Submit" />
      </form>
   </div>
{% endblock content %}
