{% extends "base.html" %}
{% load game_extras %}

{% block head_js %}
  	{{ gmap.to_js|safe }}
  	
   <script type="text/javascript">
  	//<![CDATA[
  	function get_locations(){
      document.getElementById("gmap_locations").value = JSON.stringify(this.gmap.getPoints());
      return true;
   };
  	//]]>
  	</script>
{% endblock %}

{% block body_tag %}
   <body onload="load_gmap()" onunload="GUnload()">
{% endblock %}

{% block content %}
	<p>
		You can add points to your game here.  Just click on "Add Point" as many times as you need, drag the points wherever you want on the map, fill in clues for each point, and click "Save Location Data".  Try to make sure your clues are good enough to direct players to the right locations.
		<br />
		Once you have saved your points, click on "QR Codes" to generate the codes for each location.  Print these off and make sure to place them at the locations you chose so that people can play your games.  
		<br />
		Remember, each clue should lead players to the next location.
	</p><br />

	<div id="gmap" style="width: 400px; height: 400px;">
   </div>
   
   <div id="location_editing">
      {% if error_msgs %}
         <font color="red">{{ error_msgs }}</font>
      {% endif %}
      <table><tr><td>
      <form action="" method="post" name="add_location">
         <input type="hidden" name="mode" value="add_point" />
         <input type="submit" value="Add Point" />
      </form>
      </td><td>
      <form action="" method="post" name="update_locations" onSubmit="get_locations()">
         <input type="hidden" id="gmap_locations" name="locations" value="" />
         <input type="hidden" name="mode" value="update_locations" />
         <input type="submit" value="Save Location Data" />
         
      </td><td>
      <div class="QRLink"><a href= "/game/{{game.id}}/qrcodes/">QR Codes</a></div>
      </td></tr></table>
         <!-- include the game-specific form data -->
         {% include_cat "games/edit_" game.game_type ".html" %}
      </form>
   </div>
</body>
{% endblock content %}