<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	-->
  	<title>QR marks the spot</title>	

  	{{ gmap_js|safe }}
  	
   <script type="text/javascript">
  	//<![CDATA[
  	function get_locations(){
      document.update_locations.locations.value = JSON.stringify(this.gmap.getPoints());
      return true;
   };
  	//]]>
  	</script>
</head>

<body onload="load_gmap()" onunload="GUnload()">

   <div id="banner">
		<h1> QR marks the spot </h1>
	</div> 

	<div id="gmap" style="width: 500px; height: 400px;">
   </div>
   
   <div id="mainArea">
      <font color="red">{{ error_msgs }}</font>
      <form action="" method="post" name="add_location">
         <input type="hidden" name="mode" value="add_point" />
         <input type="submit" value="Add Point" />
      </form>
      <form action="" method="post" name="update_locations" onSubmit="get_locations()">
         <input type="hidden" name="locations" value="" />
         <input type="hidden" name="mode" value="update_locations" />
         <input type="submit" value="Save Point Locations" />
      </form>
   </div>

</body>
</html>
