<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />

  	<title> QR marks the spot</title>	

</head>

<body>
	
	<div id="topNavBar">
		{% block topNavBar %}
        <div class="topNaviagationLink"><a href="index.html">Home</a></div>
        <div class="topNaviagationLink"><a href="index.html">About</a></div>
        <div class="topNaviagationLink"><a href="index.html">Play</a></div>
	    <div class="topNaviagationLink"><a href="index.html">Contact</a></div>
	    {% endblock %}
	</div>
	
	
	<div id="sideNavBar">
		<div class = "box"></div>
		{% block sideNavBar %}
		<div class = "login">
		 <div class = "text"> Login </div>
		   <div class="loginwrapper">
				<span class="usertext" style="font: 16px copperplate;" >Username:</span><br>
				<input class="textbox" type="text" size="25"><br>
				<span class="usertext" style="font: 16px copperplate;">Password:</span><br>
				<input class="textbox" type="password" size="25">
			</div>
		</div>
		{% endblock %}
	</div>
	
    
	<div id="contentBox">
		{% block content %}

      	{% endblock %}
	</div>    
  
	<div id="footer">
	{% block footer %}
	
	{% endblock %}


	</div>

	<div id="mask"></div>
    
	

</body>
</html>
