<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	{% block styleSheet %}
	{% endblock %}

  	<title> QR marks the spot</title>	

   {% block head_js %}
   {% endblock %}
</head>

{% block body_tag %}
<body>
{% endblock %}
	
	<div id="main" >
		<div id="mainBanner">
		</div>
	
		<div id="topNavBar">
		{% block topNavBar %}
        <div class="topNaviagationLink"><a href= "/contact">Contact</a></div>
        <div class="topNaviagationLink"><a href="/">About</a></div>
        <div class="topNaviagationLink"><a href="/game">Play</a></div>
	    <div class="topNaviagationLink"><a href="/">Home</a></div>
	    {% endblock %}
		</div>
	
	
		<div id="sideNavBar">
		<div class = "box"></div>
		<div class = "stats">
		Games in Progress:<br>
		Users Online:<br>
		</div>
		
		{% block sideNavBar %}
		{% if user.is_authenticated %}
			<div class = "login">
   				Welcome, {{ user }}.<br />
   				<div class="userImage"></div>
   				<div class = "checkProfile">Check your profile <a href="/user/{{user.username}}/profile">here</a>!</div><br />
   				<form action="/logout/" method="post">
   					<input class="submit" type="submit" value="Logout">
   				</form>
   			</div>
		
		{% else %}
		
         <div class = "login">
			 <div class = "text"> Login </div>
			   <div class="loginwrapper">
			   <form action="/login/" method="post">
			      <input type="hidden" name="next" value="{{ next }}" />
			      <input type="hidden" name="path" value="{{ request.path }}" />
					<span class="usertext" style="font: 16px Impact;" >UserName:</span><br>
					<input class="textbox" name="UserName" type="text" size="25"><br>
					<span class="usertext" style="font: 16px Impact;">Password:</span><br>
					<input class="textbox" name="Password" type="password" size="25">
					<input class="submit" type ="submit" value="Login">
				</form>
				</div>
			
			<div class = "createUser">Don't have a login? Create a new user <a href="/registration">here</a>!</div>

			</div>

		{% endif %}

		{% endblock %}
		</div>
	
    
		<div id="contentBox">
		{% block content %}

      	{% endblock %}
		</div>    
  

	</div>
    
</body>
</html>
