<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script src="/static/scripts/galleria/galleria-1.2.2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/rightNavBar.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/topNavBar.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/content.css" />
	{% block styleSheet %}
	{% endblock %}

  	<title> QR marks the spot</title>	

   {% block head_js %}
   {% endblock %}
</head>

{% block body_tag %}
<body>
{% endblock %}
	
	<div id="header" >
		<div class="mainBanner">
		</div>
	
		<div class="topNavBar">
			{% block topNavBar %}
			<ul>
			<li><a href= "/contact">Contact</a></li>
			<li><a href="/">About</a></li>
			<li><a href="/game">Play</a></li>
			<li><a href="/">Home</a></li>
			</ul>
			{% endblock topNavBar %}
		</div>
	</div>

	<div class="colmask threecol">
	<div class="colmid">
		<div class="colleft">
			<div class="content">
			<div class="gallery-container">
			<div id="gallery">
            	<img src="/static/media/img1.jpg">
            	<img src="/static/media/img2.jpg">
            	<img src="/static/media/img3.jpg">
        		</div>
        		</div>
		<script>
            Galleria.loadTheme('/static/scripts/galleria/themes/classic/galleria.classic.js');
            $("#gallery").galleria({
                width: 500,
                height: 300
            });
			</script>
			<div class="contentPane">
				{% block content %}
				
	      	{% endblock content %}
	      </div>
			</div>
			<div class="leftNavBar">
			</div>
			<div class="rightNavBar">
				<div class="stats">
					Games in Progress: {{num_games}} <br>
					Users Online:<br>
				</div>

				{% block rightNavBar %}
				{% if user.is_authenticated %}

				<div class = "login">
	   				Welcome, {{ user }}.<br />
	   				<div class="userImage"></div><br />
					Check your profile <a href="/user/{{user.username}}/profile">here</a>!<br />
	   				<form action="/logout/" method="post">
	   					<input class="submit" type="submit" value="Logout">
	   				</form>
	   			</div>

				{% else %}
		
			 	<div class ="login">
					 <h1> Login </h1>
						<form action="/login/" method="post">
							<input type="hidden" name="next" value="{{ next }}" />
							<input type="hidden" name="path" value="{{ request.path }}" />
								<h2>User Name:</h2>
								<input class="textbox" name="UserName" type="text" size="25"><br />
								<h2>Password</h2>
								<input class="textbox" name="Password" type="password" size="25"><br />
								<input class="submit" type ="submit" value="Login">
						</form><br />
			
						Don't have a login?<br /> Create a new user <a href="/registration">here</a>!

				</div>
				<div class="socialnetworking">
					<iframe src="http://www.facebook.com/plugins/like.php?href=http://qr.blue-mage.net/&amp;layout=button_count&amp;show_faces=false&amp;&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
					<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
				</div> 
				{% endif %}
				{% endblock rightNavBar%}
			</div>
	</div>
    
</body>
</html>
